.video-box
{width:700px;
}

.video-box2{
	width:260px;
}

.stick-video{
  position: fixed;
  margin-top:60px;
  top: 0;
  left: 2;
  z-index: 999;
}
.video-button{
	position: absolute;
    top: 4px;
    left:198px;
    cursor: pointer;
    font-size:34px; 
    background:transparent;
    border:none;color:grey;
}